.nav {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #333333;
  padding: 0.5rem 16px;
  box-sizing: border-box;
  z-index: 999;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}